.cdx-simple-audio {}

.cdx-simple-audio .cdx-loader {
  min-height: 200px;
}

.cdx-simple-audio .cdx-input {
  margin-top: 10px;
}

.cdx-simple-audio audio {
  max-width: none;
  width: 100%;
  vertical-align: bottom;
}

.cdx-simple-audio__caption[contentEditable=true][data-placeholder]:empty::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
 }

.cdx-simple-audio__caption[contentEditable=true][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-simple-audio__caption[contentEditable=true][data-placeholder]:empty:focus::before {
  opacity: 0;
}
